/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

 :root {
  --vp-c-bg: #e6e5e3;
  --vp-c-bg-alt: #ccccca;
  --vp-c-bg-elv: #fffffc;
  --vp-c-bg-soft: #f2f2f0;
}

.dark {
  --vp-c-bg: #363847;
  --vp-c-bg-alt: #23242e;
  --vp-c-bg-elv: #4a4c61;
  --vp-c-bg-soft: #404254;
}

:root {
  --vp-c-border: #ccccca;
  --vp-c-gutter: #23242e;
  --vp-c-divider: #23242e;
}

.VPMenu {
  --vp-c-divider: var(--vp-c-border);
}

.VPLocalNavOutlineDropdown .items {
  --vp-c-border: var(--vp-c-gutter);
}

.dark {
  --vp-c-border: #23242e;
  --vp-c-gutter: #ccccca;
  --vp-c-divider: #ccccca;
}

:root {
  --vp-c-text-1: #07071c;
  --vp-c-text-2: #191936;
  --vp-c-text-3: #49495e;
}

.dark {
  --vp-c-text-1: #e6e5e1;
  --vp-c-text-2: #deddd9;
  --vp-c-text-3: #bfbeba;
}

:root {
  --vp-c-default-1: var(--vp-c-text-1); /* kinda bad */
  --vp-c-default-2: #ccccca;
  --vp-c-default-3: #d9d8d7;
  --vp-c-default-soft: #d9d8d710;

  --vp-c-brand-1: #2659ab;
  --vp-c-brand-2: #3066be;
  --vp-c-brand-3: #2d60b3;
  --vp-c-brand-soft: rgba(38, 89, 171, 0.16);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

.dark {
  --vp-c-default-2: #23242e;
  --vp-c-default-3: #2d2e3b;
  --vp-c-default-soft: #2d2e3b10;

  --vp-c-brand-1: #679df5;
  --vp-c-brand-2: #3066be;
  --vp-c-brand-3: #2d60b3;
  --vp-c-brand-soft: rgba(103, 157, 245, 0.16);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: var(--vp-c-brand-1);
}

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}
