/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

:root {
  --vp-c-bg: #d2d0d9; /* --color-bg-hex */
  --vp-c-bg-alt: #f4f4f5; /* --color-surface-hex */
  --vp-c-bg-elv: #f4f4f5; /* --color-surface-hex */
  --vp-c-bg-soft: #afadb6; /* --color-bg-hover-hex */
}

.dark {
  --vp-c-bg: #2e2b36;
  --vp-c-bg-alt: #202023;
  --vp-c-bg-elv: #202023;
  --vp-c-bg-soft: #403d48;
}

:root {
  --vp-c-border: #a3a3a3; /* --color-border-hex */
  --vp-c-gutter: #525252; /* --color-border-light-hex */
  --vp-c-divider: #262626; /* --color-border-divider-hex */
}

.VPMenu {
  --vp-c-divider: var(--vp-c-border);
}

.VPLocalNavOutlineDropdown .items {
  --vp-c-border: var(--vp-c-gutter);
}

.dark {
  --vp-c-border: #404040;
  --vp-c-gutter: #737373;
  --vp-c-divider: #d4d4d4;
}

:root {
  --vp-c-text-1: #07071c; /* --color-text-hex */
  --vp-c-text-2: #49495e; /* --color-text-secondary-hex */
  --vp-c-text-3: #49495e; /* --color-text-secondary-hex */
}

.dark {
  --vp-c-text-1: #f4f4f5;
  --vp-c-text-2: #a1a1aa;
  --vp-c-text-3: #a1a1aa;
}

:root {
  /* XXX-1 = -text-hex */
  /* XXX-2 = -hover-hex */
  /* XXX-3 = -hex */
  /* XXX-soft = -hex + 0x40 alpha */

  /* --color-alt */
  --vp-c-default-1: #49495e; /* --color-text-secondary */
  --vp-c-default-2: #b5b8ce;
  --vp-c-default-3: #d8dbf2;
  --vp-c-default-soft: #d8dbf280;

  /* --color-primary */
  --vp-c-brand-1: #0061a1;
  --vp-c-brand-2: #0082c4;
  --vp-c-brand-3: #0ea5e9;
  --vp-c-brand-soft: #0ea5e940;

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-note-1: var(--vp-c-brand-1);
  --vp-c-note-2: var(--vp-c-brand-2);
  --vp-c-note-3: var(--vp-c-brand-3);
  --vp-c-note-soft: var(--vp-c-brand-soft);

  /* --color-seconadry */
  --vp-c-important-1: #7732e6;
  --vp-c-important-2: #5f00c6;
  --vp-c-important-3: #7c3aed;
  --vp-c-important-soft: #7c3aed40;

  /* --color-success */
  --vp-c-success-1: #007216;
  --vp-c-success-2: #008128;
  --vp-c-success-3: #16a34a;
  --vp-c-success-soft: #16a34a40;

  /* --color-warning */
  --vp-c-warning-1: #835100;
  --vp-c-warning-2: #c69000;
  --vp-c-warning-3: #eab308;
  --vp-c-warning-soft: #eab30840;

  /* --color-error */
  --vp-c-danger-1: #c6000d;
  --vp-c-danger-2: #b40000;
  --vp-c-danger-3: #dc2626;
  --vp-c-danger-soft: #dc262640;

  --vp-c-caution-1: var(--vp-c-danger-1);
  --vp-c-caution-2: var(--vp-c-danger-2);
  --vp-c-caution-3: var(--vp-c-danger-3);
  --vp-c-caution-soft: var(--vp-c-danger-soft);
}

.dark {
  --vp-c-default-1: #a1a1aa;
  --vp-c-default-2: #474764;
  --vp-c-default-3: #353550;
  --vp-c-default-soft: #35355080;

  --vp-c-brand-1: #0ea5e9;
  --vp-c-brand-2: #0082c4;

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-note-1: var(--vp-c-brand-1);
  --vp-c-note-2: var(--vp-c-brand-2);
  --vp-c-note-3: var(--vp-c-brand-3);
  --vp-c-note-soft: var(--vp-c-brand-soft);

  --vp-c-important-1: #b77fff;

  --vp-c-success-1: #2db056;

  --vp-c-warning-1: #eab308;

  --vp-c-danger-1: #ff6459;
}
